<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to 'Modifier', edit_user_path(@user) %> |
<%= link_to 'Page precedente', users_path %>
